<!DOCTYPE html>
{% load static %}
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <title>Self Introduction</title>

    <link rel="stylesheet" href="{% static 'blog/bootstrap/bootstrap.min.css' %}" media="screen">
    <link rel="stylesheet" href="{% static 'single_pages/css/about_me.css' %}" media="screen">
    
    <script src="https://kit.fontawesome.com/8650526e2d.js" crossorigin="anonymous"></script>
</head>

<body>
    {% include 'blog/navbar.html' %}

    <section>
        <div class="container mt-4">
            <div class="row">
                <div class="col-lg-8">
                    <h1>안녕하세요. 이재현입니다.</h1>
                    <br/>
                    <p class="lead">
                        웹/앱 개발자이자 CEO가 되고 싶은 25살의 컴린이 입니다.
                        <br/>운동과 축구, 게임, 그리고 사람 만나는 것을 좋아합니다.
                    </p>
    
                    <ul>
                        <li>EDUCATION</li>
                        <ul>
                            <li>중동중학교 (2010 ~ 2012)</li>
                            <li>중동고등학교 (2013 ~ 2015)</li>
                            <li>서울대학교 자유전공학부 입학 (2016.02 ~ )</li>
                            <li>서울대학교 경영학과 진입 (2017.02 ~ )</li>
                            <li>서울대학교 컴퓨터공학과 진입 (2021.02 ~ )</li>
                        </ul>
                    </ul>
                    <ul>
                        <li>ACTIVITIES</li>
                        <ul>
                            <li>자유전공학부 춤동아리 '사자후' 개설 및 운영 (2016.02 ~ 2018.02)</li>
                            <li>인문대 춤동아리 '혼또니' (2016.09 ~ 2018.02)</li>
                            <li>축구 동아리 'Soccer21' (2016.02 ~ 2017.02)</li>
                            <li>6사단 신병교육대대 조교 (2018.05 ~ 2020.01)</li>
                            <li>연합 마케팅 전략 학회 'MCL' (2020.03 ~ 2020.08)</li>
                        </ul>
                    </ul>
    
                </div>
                <div class="col-lg-4">
                    <img class="img-fluid" src="{% static 'single_pages/images/myFace.jpg' %}">
                </div>
            </div>
        </div>
    </section>
    
    <section class="bg-light margin-for-footer">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1>PORTFOLIO</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="card" data-toggle="modal" data-target="#pycon2017">
                        <img class="card-img-top" src="{% static 'single_pages/images/pentface_1.png' %}">
                        <div class="card-body">
                            <h6 class="card-title"><b>드라마 '펜트하우스' 속 내 닮은꼴 찾기</b></h6>
                            <p>얼굴 사진을 업로드 하면<br/> Teachable Machine을 통해 인공지능이 <br/>드라마 '펜트하우스' 속의 어떤 등장인물과 닮았는지 알려주는 웹사이트</p>
                            <div style="float:right">
                                <a href="https://pentface.ml/" target="_blank"><span class="badge badge-pill badge-dark">구경가기</span></a>
                            </div>
                        </div>
                    </div>
                </div>
    
                <div class="col-lg-4">
                    <div class="card" data-toggle="modal" data-target="#inflearn_django2">
                        <img class="card-img-top" src="{% static 'single_pages/images/mint_2.png' %}">
                        <div class="card-body">
                            <h6 class="card-title"><b>자신의 여행 유형 알아보기</b></h6>
                            <p>개인의 여행 선호도를 테스트롤 통해 <br/>분석하여 자신의 여행 유형이 무엇인지<br/> 알려주는 웹사이트</p>
                            <div style="float:right">
                                <a href="https://minttour.netlify.app/" target="_blank"><span class="badge badge-pill badge-dark">구경가기</span></a>
                            </div>
                        </div>
                    </div>
                </div>
    
                <div class="col-lg-4">
                    <div class="card" data-toggle="modal" data-target="#automation_python">
                        <img class="card-img-top" src="{% static 'single_pages/images/auto_2.png' %}" height="370">
                        <div class="card-body">
                            <h6 class="card-title"><b>자동 예약 프로그램</b></h6>
                            <p>파이썬 셀레니움과 PyQt5를 이용하여 <br/>원하는 날짜와 시간을 선택하면 <br/>자동으로 예약해주는 프로그램</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <div class="fixed-bottom">
        {% include 'blog/footer.html' %}
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>

</html>